* {
  box-sizing: border-box;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: 960px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}

.long {
  background-color: #ebebeb;
  padding: 30px;
}
header {
  margin: 10px 0;
}
nav {
  margin-bottom: 20px;
}
.left {
  background-color: #ebebeb;
  height: 300px;
  width: 495px;
  padding-top: 10px;
  padding-bottom: 5px;
  float: left;
}
article {
  background-color: #777;
  color: #ebebeb;
  height: 75%;
  margin: 20px 10px;
  padding: 7px 0;
}
h3, p {
  background-color: #ebebeb;
  color: #777;
  margin: 20px;
  padding: 10px;
}
.right {
  float: right;
  width: 440px;
  height: 300px;
  padding-top: 10px;
  background-color: #ebebeb;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
footer {
  margin:20px 0;
}